#menu{
    border: rgb(19, 17, 17) 1px solid;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
}
u1.li{
    position: relative;
    white-space: nowrap;
    border-right: rgb(136, 59, 59) 1px solid;
}
u1.a{

    background-color: #fff;
    color: #333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;

}