
body {
	margin: 0 auto;
	width: 500px;
	padding: 0;
	background: #dddddd url('../Shared%20Documents/images/body_bg.gif') repeat-x top;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	color: rgb(14, 14, 14);
}

h1{
 font: size 50px;;

}

#menu{
    border: rgb(19, 17, 17) 1px solid;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
}
ul#down-menu li{
    position: relative;
    white-space: nowrap;
    border-right: rgb(136, 59, 59) 1px solid;
}
ul#down-menu a{

    background-color: rgb(41, 36, 36);
    color: #333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;

}